<section>
  <article class="project_loop">
    <% @projects.each do |project| %>
        <%#= project.title %>
        <%#= project.description %>
        <section class='dash_image'>
          <%= link_to(image_tag(project.dash_image.url, class: 'style_image'), project) %>
        </section>
    <% end %>
  </article>
</section>
