<section>
  <section class='dash_padding'></section>
  <article class="project_loop">
    <% @projects.each do |project| %>
        <section class="dash_image">


          <!--<img src="<%#= project.dash_image.url %>" class="style_image">-->
          <a href="/projects/<%= project.id %>">
            <section class='hidden_content'>
              <article>
                <h3><%= project.title %></h3>
              </article>
            </section>
          </a>
          <%= link_to(image_tag(project.dash_image.url, class: 'style_image'), project) %>
        </section>
    <% end %>
  </article>
  <section class='footer_padding'></section>

</section>
