<section>
  <article class="project_loop">
    <% @projects.each do |project| %>
        <%#= project.title %>
        <%#= project.description %>
        <%= link_to(image_tag(project.dash_image.url), project, class: 'style_image') %>
    <% end %>
  </article>
</section>

