/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
   margin: 0px;
}

header {
    margin: 0;
    overflow: hidden;
}

.logo {
    padding-left: 40%;
    padding-top: 15px;
}

nav ul {
    list-style: none;
    margin: 0;
}

nav ul li {
    text-decoration: none;
    float: left;
    color: white;
    padding-top: 50px;
    padding-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}
.nav_left {
    float: left;
    width: 33%;
    background: red;
    height: 120px;
    /*margin-bottom: 20px;*/
}

.nav_middle {
    float: left;
    width: 33%;
    background: #282828;
    height: 120px;
    /*margin-bottom: 20px;*/
}

.nav_right {
    float: left;
    width: 34%;
    background: #282828;
    height: 120px;
}

.notice {
    clear:both;
}

.yield {
    clear: both;
}

footer {
    background: #282828;
    height: 100px;
    margin-top: 15px;
    border-top: 2px solid red;
}