// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//MAIN PAGE STYLING

.project_loop {
  //width: 33%;
  //  margin: 0px, 0px, 15px, 0px;
}

.style_image {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 10px;
}

#dash_image {
  width: 33.33%;
  float: left;
  margin: 0;
  padding: 0;
}

//#dash_image:hover .hidden_content {
//  color: red;
//  padding: 20px;
//}

.dash_padding {
  padding: 1%;
  border-bottom: 2px solid #e33d3d;
}

.hidden_content {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  color: red;
}

// INDIVIDUAL PRODUCT STYLING
.project_info_space {
  overflow: hidden;
  margin: 0;
  background: #282828;
  color: white;
  border-top: 2px solid #e33d3d;
}

.ind_project_image {
  width: 100%;
  margin: 0px;
  margin-bottom: -5px;
}

.project_title {
  float: left;
  width: 33%;
}

.project_info_right {
  float: left;
  width: 67%;
}

.project_description {
  padding: 15px;
}
.ind_project_padding {
  padding-left: 46%;
  padding-bottom: 5px;
  padding-top: 10px;
}

.home_button {
  background: image-url('sprite-sheet.png') no-repeat -306px -1px;
  height: 35px;
}
.home_button:hover {
  background: image-url('sprite-sheet.png') no-repeat -306px -51px;
  height: 35px;
}

// SMALLER SCREENS
@media screen and (max-width: 700px) {
  #dash_image {
    width: 50%;
  }
  #dash_image img {
    margin-bottom: -5px;
  }
}