// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//MAIN PAGE STYLING
.dash_padding {
  height: 15px;
  border-bottom: 2px solid #e33d3d;
}

.project_loop {
  //width: 33%;
  //  margin: 0px, 0px, 15px, 0px;
}

.style_image {
  width: 100%;
  height: auto;
}

// INDIVIDUAL PRODUCT STYLING
.project_info_space {
  overflow: hidden;
  margin: 0;
  background: #282828;
  color: white;
  border-top: 2px solid #e33d3d;
}

.cover {
  width: 100%;
  margin: 0px;
}

.project_title {
  float: left;
  width: 33%;
}

.project_info_right {
  float: left;
  width: 67%;
}

.project_description {
  padding: 15px;
}

.style_image_individual {
  width: 100%;
  height: auto;
  margin-top: 15px;
}

.dash_image {
  width: 33%;
  float: left;
}
