// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//MAIN PAGE STYLING

.style_image {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: -4px;
}

.dash_image {
  width: 33.33%;
  margin: 0;
  margin-right: -4px;
  padding: 0;
  display: inline-block;
  background: black;
  //position: absolute;
}

.hidden_content {
  display: none;
}

.dash_image:hover img {
  opacity: 0.2;
}

.dash_image:hover .hidden_content {
  //background: rgba(0, 0, 0, 0.8);
  color: white;
  width: 33.3%;
  position: absolute;
  z-index: 10;
}

.hidden_content article {
  width: 100%;
  padding: 5%;
  font-size: 24px;
}

.dash_image a {
  z-index: 1;
}

.dash_padding {
  padding: 1%;
  border-bottom: 2px solid #e33d3d;
}

.image_padding {
  width: 100%;
  padding: 10px 0;
  background: white;
}

// INDIVIDUAL PRODUCT STYLING
.project_info_space {
  overflow: hidden;
  margin: 0;
  background: #282828;
  color: white;
  border-top: 2px solid #e33d3d;
  padding-top: 30px;
  padding-bottom: 30px;
}

.ind_project_image {
  width: 100%;
  margin: 0px;
  margin-bottom: -5px;
}

.project_title {
  float: left;
  width: 45%;
}

.project_title h1 {
  font-size: 3em;
  margin: 0;
  margin-left: 25%;
}

.project_info_right {
  float: left;
  width: 40%;
  margin-right: 15%;
}

.project_description {
  padding: 15px;
}
.ind_project_padding {
  padding-bottom: 5px;
  padding-top: 10px;
}

.home_button {
  background: url('sprite-sheet.png') no-repeat -306px -1px;
  height: 44px;
  width: 55px;
  margin: 0 auto;
}
.home_button:hover {
  background: url('sprite-sheet.png') no-repeat -306px -51px;
  height: 44px;
  width: 55px;
  margin: 0 auto;
}

// SMALLER SCREENS
@media screen and (max-width: 700px), screen and (max-device-width: 700px) {
  .dash_image {
    width: 50%;
  }
  .dash_image img {
    margin-bottom: -5px;
  }

  //individual project page

  .project_title {
    width: 100%;
  }

  .project_title h1 {
    margin-left: 15%;
  }

  .project_info_right {
    margin-left: 15%;
    width: 80%;
    clear: both;
    margin-right: 5%;
  }

  .project_description {
    padding: 0;
  }

  .hidden_content article {
    width: 100%;
    padding: 5%;
    font-size: 18px;
  }

  nav ul li a {
    font-size: 1.3em;
  }

}